body {
    background: url(hotdog.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    text-align: center;
}


h1 {
    font-family: 'Merriweather', serif;
    background-color: #dcedf7;
    border-radius: 20px;
    padding: 15px;
}

.button-add {
    font-family: 'Merriweather', serif;
    background-color: #77cf40;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
}

.button-delete {
    font-family: 'Merriweather', serif;
    background: none;
    border: 0;
    color: red;
    font-weight: bolder;
}

.App {
    display: flex;
    justify-content: space-around;
}

.whole-plan {
    width: 70%;
    height: 100vh;
}

.myInput {
    width: 100%;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
}

textarea {
    display: block;
    border: 1px solid #ddd;
    margin-top: 30px;
    width: 70%;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    font-family: 
}

.selected {
    background-color: #fad106;

}

.default {
    background-color: #dcedf7;
}

p {
    color: #ffff;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.field {
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 14px;
}

